*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


:root{
    --fontsizeh1: 70px;
    --fontsizeh2: 36px;
    --fontsizeh3: 28px;
    --fontsizeh3: 25px;
    --fontsizespan: 60px;
    --colorspan: #9d7051;
    --font-family-titles:  'Montserrat', sans-serif;
    --font-family-body: 'Montserrat', sans-serif;
    --font-weight-titles:500;
    --font-weight-body:300;

}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-titles);
    text-transform: uppercase;
}
p{
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
}

/* MENU HAMBURGUESA */

.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;  
    padding: 0;  
    background-color: transparent;
    z-index: 99;
    background-color: #000;
    border-radius: 50%;
    width:55px;
    padding: 5px;
  }
  
  .ham span.br{
     display: block;
     background-color: #FFF;
     height: 3px;
     width: 32px;
     margin: 7px auto;
     border-radius: 2px;
  
      
    } 

/*buttons colors*/

.button-light{
    font-size: 18px;
    padding: 21px 42px;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    border: 2px solid;
    font-weight: bold;

}
.button-light:hover{
    background-color: #fff;
    color: #364029;
    border-color: #fff;
}


/*navbar style*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.navbar{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: auto;
    padding: 20px 20px;
    

}

.navbar img.logo {
    width: 150px;
   
    
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    overflow-x: hidden;
    gap: 20px;
}

.nav-link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
  
}
.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: .3;
    background-color: #fff;
    transition: opacity 500ms ease-in;
}

.nav-link:hover::before{
    opacity: 1;
}
nav.scroll .nav-link::before {
    background-color: #000;
}


.conteiner-opening video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
    object-fit: cover;
}

.conteiner-opening {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-opening{
    text-align: center;
}
.text-opening h1{
    font-size: var(--fontsizeh1);
    margin-bottom: 40px;
    color: #fff;
    text-transform: uppercase;
}


/* Sobre Nosotros */

.aboutus-frase{
    width: 100%;
    height: 40vh;
    text-align: center;
    display: grid;
    place-items: center;
    
    
    
}

.aboutus-text h3{
    font-size: var(--fontsizeh3);
    justify-content: center;
    font-weight: 400;
}

.aboutus-text p{
    font-size: 20px;
}

.aboutus-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #364029;
    z-index: -2;
    padding: 96px 0;
    }
    
    

.aboutus-texto{
    display: grid;
    place-items: center;
    margin: auto;
}

.aboutus-texto p{
    padding: 50px;
    max-width: 400px;
    color: #fff;
}

.aboutus-texto h2{
    font-size: var(--fontsizeh2);
    color: #fff;
}
.aboutus-texto span{
    color: var(--colorspan);
    font-size: var(--fontsizespan);
}

hr{
    width: 120px;
    margin-top: 5px;
    height: 3px;
    background-color: #9d7051;
    border: none;
}

/*animacion fotos */
@media only screen and (min-width: 768px){
    .image1{
        animation: 12s ease-in 500ms girar1 ;  
        animation-iteration-count: 2;
    }
    .image2{
        animation: 12s ease-in 1s girar2;
        animation-iteration-count: 2; 
    }
    .image3{
        animation: 12s ease-in 1s girar3;
        animation-iteration-count: 2;  
    }
    
    @keyframes girar1{
        0%{
            transform: translate(0,0);
        }
        33%{
            transform: translate(200px,-200px);
        }
        66%{
            transform: translate(200px,200px);
        }
        100%{
            transform: translate(0,0);
        }
    }
    @keyframes girar3{
        0%{
            transform: translate(0,0);
        }
        33%{
            transform: translate(0px,400px);
        }
        66%{
            transform: translate(-200px,200px);
        }
        100%{
            transform: translate(0,0);
        }
    }
    @keyframes girar2{
        0%{
            transform: translate(0,0);
        }
        33%{
            transform: translate(-200px,-200px);
        }
        66%{
            transform: translate(0,-400px);
        }
        100%{
            transform: translate(0,0);
        }
    }

}
@media only screen and (max-width: 768px){
    .image1{
        animation: 12s ease-in 500ms girar1 ;  
        animation-iteration-count: 2;
    }
    .image2{
        animation: 12s ease-in 1s girar2;
        animation-iteration-count: 2; 
    }
    .image3{
        animation: 12s ease-in 1s girar3;
        animation-iteration-count: 2;  
    }
    
    @keyframes girar1{
        0%{
            transform: translate(0,0);
        }
        33%{
            transform: translate(150px,-150px);
        }
        66%{
            transform: translate(150px,150px);
        }
        100%{
            transform: translate(0,0);
        }
    }
    @keyframes girar3{
        0%{
            transform: translate(0,0);
        }
        33%{
            transform: translate(0px,340px);
        }
        66%{
            transform: translate(-150px,150px);
        }
        100%{
            transform: translate(0,0);
        }
    }
    @keyframes girar2{
        0%{
            transform: translate(0,0);
        }
        33%{
            transform: translate(-150px,-150px);
        }
        66%{
            transform: translate(0,-340px);
        }
        100%{
            transform: translate(0,0);
        }
    }

}


/* MODIFICACION TRES IMAGENES */

.conteiner-images{
    position: relative;
    width: 100%;
    height: 100%;
   
   
}

.image1{
   
    position: absolute;
    top: 0;
    width: 250px;
    height: auto;
    left: 0;
    margin: auto 0;
    bottom: 0;
    right: 0;
    z-index: 2;

}
.image2{
    position: absolute;
    left:30%;
    width: 250px;
    height: auto;
    top:55%;
    z-index: 3;
}
.image3{
    position: absolute;
    bottom: 50%;
    width: 250px;
    height: auto;
    left :30%;
    z-index: 0;
}

/* NUESTROS VALORES */

.conteiner-value{
    padding: 96px 0;
}

.values-title{
    font-size: var(--fontsizeh2);
    color: #000;
    
}

.values-title span{
    color: var(--colorspan);
    font-size: var(--fontsizespan);
}

#title-sectionvalues{
    display: grid; 
    place-items: center;
    margin-bottom: 30px;
}

.our-values { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    gap: 70px;
    max-width: 1200px;
    margin: auto;
    }
  



.value{
    border: #364029 solid 3px;
    display: grid;
    place-items: center;
    height: 350px;
    width: 350px;
    overflow: hidden;
    position: relative;
       
}

.value:hover .transition-text{
    transform: translateY(0);
    transition: transform 1s ease-out;
}

.transition-text{
    display: grid;
    place-items: center;
    height: 350px;
    width: 350px;
    background-color: #364029;
    transform: translateY(400px);
    transition: transform 1s ease-out;
    text-align: center;
    
    

}
.transition-text p{
    color: #fff;
    text-align: justify;
    max-width: 300px;
    line-height: 1.5em;
}




.value h4{
    position: absolute;
    font-size: var(--fontsizeh2);
}

/* SUMATE A LA INICIATIVA  */

.joinus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url(../img/pexels-jeswin-thomas-627644.jpg);
    background-position: center;
    background-size: cover;
    z-index: -2;
    padding: 96px 0;
    place-items: center;

    }
    
    .joinus-text1 { grid-area: 1 / 1 / 2 / 2; }
    .joinus-text2 { grid-area: 1 / 2 / 2 / 3; }

.joinus-text1 h2{
    font-size: var(--fontsizeh2);
    color: #fff;
}


/* SERVICIOS */

.container-services{
    padding: 96px 0;
    max-width: 1200px;
    margin: auto;
    
}

.title-services{
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}

.title-services h2{
    font-size: var(--fontsizeh2);
    color: #000;
}

.title-services span{
    color: var(--colorspan);
    font-size: var(--fontsizespan);
}

.text-services p{
    text-align: justify;
    margin: auto;
}

/* LINEA DE TIEMPO */

.services {
    position: relative;
    margin: 0;
    padding: 32px 0;
    list-style: none;

}

.services::before{
    content: '';
    height: 100%;
    top: 0;
    left: 50%;
    background-color: #000;
    width: 3px;
    position: absolute;
}

li.item{
    display: flex;
    position: relative;
    padding: 0  30px 80px 10px;

}

 li.item:before{
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 10px;
    color: #000;
    background-color: #000;
    position: absolute;
    top: 0px;
    right: calc(50% - 11px);
}

h4.lp-h4{
    width: 100%;
    display: inline;
    padding: 12px 22px;
    color: #fff;
    background-color:#364029;
    border-radius: 10px;
    font-size: 22px;
}
.cell{
    width: 50%;
    padding: 0 32px;
}

.cell:first-child{
    text-align: right;
}

.cell p{
    text-align: justify;

}

/* CONSULTA CON UN ESPECIALISTA */

.container-specialist{
    background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%),url(../img/pexels-mads-de-silva-13581479.jpg) ;  
    height: 400px;
    width: 100%;
    display: grid;
    place-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 767px){
      background-attachment: scroll;
    }
   
}

.container-text{
    
    text-align: center;
}

.container-text h2{
     padding: 10px;
     font-size: var(--fontsizeh2);
     color: #fff;
}  
/*footer*/

footer{
    
    background-color: #364029;
    height: 100%;
    padding: 96px 0 50px;
    
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}
.footer-title .logo-footer{
    width: 150px;
   
    margin-right: 20px;
}

footer ul{
    list-style: none;
    
    display: flex;
    flex-direction: column;
}
.footer-h3{
    color: #fff;
    font-size: var(--fontsizeh3);
    text-transform: uppercase;

}

.footer-link{
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
}
.footer-link::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 0;
    
    transition: .5s ease-in;
}
.footer-link:hover::before{
    opacity: 1;
}

.footer-direction{
    color: #fff;
    text-decoration: none;
   

}

.image-footer{
    height: 100%;
    width: 40px;
    margin-right: 10px;
}
.footer-item{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: start;
    
}

.footer-terminos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1700px;
    padding:40px 20px 0;
    margin: auto;
}

.footer-terminos p{
    color: #fff;
}




